@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* colors */
    --highlight-primary-color: #ff9500; /* orange */
    --highlight-secondary-color: #f4275e; /* coral */
    --highligt-tertiary-color: #cb6be6; /* lila */  
    --primary-color: #000000; /* black */
    --secondary-color: #fcfcfc; /* white */
    --tertiary-color: #5d2f8e; /* purple */
    /* fonts */
    --primary-font: 'Mr+Dafoe', cursive; 
    --secondary-font: 'Oswald' , serif;
    --tertiary-font: 'Poppins' sans-serif;
}

/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tertiary-font);
}

.coursive-title {
    font-family: var(--primary-font);
}

.block-title {
    font-family: var(--secondary-font);
}

