@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* colors */
    --highlight-primary-color: #ff9500;
    /* orange */
    --highlight-secondary-color: #f4275e;
    /* coral */
    --highlight-tertiary-color: #cb6be6;
    /* lila */
    --primary-color: #000000;
    /* black */
    --secondary-color: #fcfcfc;
    /* white */
    --tertiary-color: #5d2f8e;
    /* purple */
    /* fonts */
    --primary-font: 'Mr+Dafoe', cursive;
    --secondary-font: 'Oswald', serif;
    --tertiary-font: 'Poppins', sans-serif;
}

/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tertiary-font);
}

/* Titles */
.coursive-title {
    font-family: var(--primary-font);
}

.block-title {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-weight: 300;
}

.hl-primary-color-title {
    color: var(--highlight-primary-color);
}

.hl-secondary-color-title {
    color: var(--highlight-secondary-color);
}

.hl-tertiary-color-title {
    color: var(--highlight-tertiary-color);
}

.tertiary-color-title {
    color: var(--tertiary-color);
}

.secondary-color-title {
    color: var(--secondary-color);
}



/* Buttons Sytle */
.custom-btn {
    font-family: var(--secondary-font);
    font-weight: 450;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: .3rem;
    padding-top: .3rem;
    text-decoration: none;
    width: 150px;
    /* check on mobile! */
    display: inline-block;
    text-align: center;
}

.btn-hl-primary-color {
    background-color: transparent;
    border: var(--highlight-primary-color) solid 3px;
    color: var(--highlight-primary-color);
    transition: 0.2s ease-in-out;
}

.btn-hl-primary-color:hover {
    background-color: var(--highlight-primary-color);
    border: var(--highlight-primary-color) solid 3px;
    color: var(--primary-color);
}

.btn-hl-secondary-color {
    background-color: transparent;
    border: var(--highlight-secondary-color) solid 3px;
    color: var(--highlight-secondary-color);
    transition: 0.2s ease-in-out;
}

.btn-hl-secondary-color:hover {
    background-color: var(--highlight-secondary-color);
    border: var(--highlight-secondary-color) solid 3px;
    color: var(--primary-color);
}

.btn-hl-tertiary-color {
    background-color: transparent;
    border: var(--highlight-tertiary-color) solid 3px;
    color: var(--highlight-tertiary-color);
    transition: 0.2s ease-in-out;
}

.btn-hl-tertiary-color:hover {
    background-color: var(--highlight-tertiary-color);
    border: var(--highlight-tertiary-color) solid 3px;
    color: var(--primary-color);
}

.btn-primary-color {
    background-color: transparent;
    border: var(--primary-color) solid 3px;
    color: var(--primary-color);
}

.btn-primary-color:hover {
    background-color: var(--primary-color);
    border: var(--primary-color) solid 3px;
    color: var(--secondary-color);
}

.btn-secondary-color {
    background-color: transparent;
    border: var(--secondary-color) solid 3px;
    color: var(--secondary-color);
}

.btn-secondary-color:hover {
    background-color: var(--secondary-color);
    border: var(--secondary-color) solid 3px;
    color: var(--primary-color);
}

.btn-tertiary-color {
    background-color: transparent;
    border: var(--tertiary-color) solid 3px;
    color: var(--tertiary-color);
}


/* Navigation */
header {
    position: fixed;
    width: 100%;
}

.nav-container {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

}

.nav-container {
    position: relative;
}

/* Navigation Section */
nav li {
    list-style: none;
    text-align: left;
}

nav a,
footer * a {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}

nav ul {
    margin: 0;
    padding: 0;
}

/* nav not visible on small and md devices */
#links {
    position: absolute;
    top: 100%;
    /* Place below the header */
    left: 0;
    /* Align to the left edge */
    width: 100%;
    /* Span the full width */
    background-color: var(--primary-color);
    /* Match the header background */
    z-index: 1000;
    /* Ensure it sits above other elements */
    height: 100vh;
    display: none;
}

#links.show {
    display: block;
}

nav ul {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: end;
    padding: 2rem;
    padding-left: 4rem;
}

/* Main */

main {
    padding-top: 72px;
}

/* HERO Section */
#hero {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-bottom: 0;
    padding-bottom: 0;
}

#hero-intro {
    padding: 1rem 1rem 1rem 1rem;
}

#hero-image {
    background: url('../images/diana-hero-pic-homepage.png') no-repeat bottom center / contain;
    height: 425px;
    width: 100%;
}

#about-hero-image {
    background: url('../images/diana-about-hero-pic.png') no-repeat bottom center / contain;
    height: 376px;
    width: 100%;
}

/* Services Section */
#services {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

#services .custom-card {
    background-color: var(--primary-color);
}

#services .card-content {
    padding: 1rem;
    text-align: center;
}

#card-image-coach {
    background: url('../images/diana_coach_session_2.jpg') no-repeat center / cover;
    height: 300px;
    /* border-image: 1 fill linear-gradient( rgba(255, 255, 255, 00), rgba(255, 255, 255, 00), rgba(255, 255, 255, 00), rgba(255, 255, 255, 00),rgba(36, 37, 37, 0.5), rgba(36, 37, 42, 0.8), rgba(36, 37, 42, 1)); */
}

#card-image-pianist {
    background: url('../images/diana-playing-piano.png') no-repeat center / cover;
    height: 300px;
}

#card-image-singer {
    background: url('../images/diana-singing.png') no-repeat center / cover;
    height: 300px;
}

#card-image-speaker {
    background: url('../images/speaker-example-pic.webp') no-repeat center / cover;
    height: 300px;
}


/* Relevant-Info Section */

/* About Page */
#about-relevant-info {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}





/* Footer */
footer * {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

#socials i {
    font-size: 2rem;
    transition: 0.2s ease-in-out;
}

#nav-links a {
    font-size: 1.25rem;
    transition: 0.2s ease-in-out;
}

footer #socials i:hover,
footer #nav-links a:hover {
    color: var(--highlight-secondary-color);
}

footer #socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer #address {
    display: flex;
    justify-content: start;
}

footer #contact {
    display: flex;
    justify-content: end;
}

footer #nav-links {
    display: flex;
    justify-content: space-around;
}

footer #address i {
    color: var(--highlight-secondary-color);
    padding-right: 1rem;
}



/* Media queries */

/* XSmall devices (mobile, 320px and up*/
@media screen and (min-width: 320px) {

    /* Navigation */
    #logo {
        height: 2.5rem;
    }

    #menu-icon {
        height: 1.5rem;
    }
}

/* Small devices (mobile, 576px and up*/
@media screen and (min-width: 576px) {

    /* Navigation */
    #logo {
        height: 3rem;
    }

    #menu-icon {
        height: 2rem;
    }

    /* Main */
    main {
        padding-top: 80px;
    }

    /* Services Section */
    #hero-intro {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }


}




/* Medium devices (tablets, 768px and up*/
@media screen and (min-width: 768px) {

    /* Navigation */
    #logo {
        height: 4.5rem;
    }

    #menu-icon {
        height: 2.5rem;
    }

    /* Main */

    main {
        padding-top: 104px;
    }

    /* Hero Section */
    #hero-intro {
        padding: 1rem 0 1rem 2rem;
    }

    #hero-image {
        height: 335px;
    }

    #about-hero-image {
        height: 295px;
    }
    

   



    /* Footer */
    footer #address,
    footer #contact {
        justify-content: center;
    }

    /* Sevices Section */
    #services .card-content p {
        min-height: 130px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

}

/* Large devices (small laptops, 992px and up*/
@media screen and (min-width: 992px) {
    /* Navigation */
    #toggle-menubar-btn {
        display: none;
    }

    #links {
        display: block;
        position: static;
        align-items: center;
        height: auto;
    }

    nav ul {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        padding-bottom: auto;
    }

    /* Main */

    main {
        padding-top: 130px;
    }

    /* Hero Section */
    #hero-image {
        height: 450px;
    }

    /* Services Section */
    #services .card-content p {
        min-height: 130px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #services .custom-row {
        max-width: 80%;
    }

}



/* Extra large devices (laptops, 1200px and up*/
@media screen and (min-width: 1200px) {}

/* Extra large devices (laptops, 1400px and up*/
@media screen and (min-width: 1400px) {
    /* Main */
    /* Services Section */
    #services .card-content p {
        min-height: 100px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

}